form{
    width: 500px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 300px;
}
h2{
    color: black;
}
p{
    color: rgb(0, 0, 0);
}
.mainContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.options{
    width: 100%;

}
.option{
    border: 1px solid black;
    border-radius: 10px;
    color: black;
    text-align: start;
    padding: 20px;
    margin: 20px;
}
.buttons{
    height: 100px;
    width: 90%;
    display: flex;
    gap: 10px;
}
.buttons button{
    height: 50px;
    border: 1px solid rgb(128, 128, 255);
flex: 1 1;
}

.optionSelect{
    border: 1px solid rgb(0, 255, 94);
    border-radius: 10px;
    color: black;
    background-color: rgba(6, 255, 6, 0.345);
    text-align: start;
    padding: 20px;
    margin: 20px;
}
.wrong {
  background-color: lightcoral;
  border-color: red;
}
.WhiteColor{
    color: white;
}